
.DS_Store
.idea
.vscode
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/
serving_dir
*.csv
*.gz
*.parquet
.ipynb_checkpoints/
**/github_sb/